- @page_title = "プロフィール一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: 5}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "PNo", params_name: "p_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "二つ名", params_name: "title_form")
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "愛称", params_name: "nickname_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "学科", params_name: "subject_id_form",
                    checkboxes: [{label: "魔術科", params_name: "subject_magic", class_name: "after_space"},
                                 {label: "武術科", params_name: "subject_martial"}])
        - td_form(f, @form_params, @placeholder,                         label: "教育課程", params_name: "course_id_form",
                    checkboxes: [{label: "初等部", params_name: "course_s", class_name: "after_space"},
                                 {label: "中等部", params_name: "course_c", class_name: "after_space mobile_br"},
                                 {label: "高等部", params_name: "course_k", class_name: "after_space"},
                                 {label: "大学部", params_name: "course_d"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "種族", params_name: "species_form", colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "性別", params_name: "sexuality_form")
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "外見年齢", params_name: "age_form")
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: 3}
          - search_submit_button


= paginate(@profiles)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,"更新回", default_order: :desc)
      %th= sort_link(@search, :p_no,"キャラクター(PNo)", default_order: :desc)
      %th= sort_link(@search, :title, "二つ名", default_order: :desc)
      %th= sort_link(@search, :nickname, "愛称", default_order: :desc)
      %th= sort_link(@search, :subject_id, "学科", default_order: :desc)
      %th= sort_link(@search, :course_id, "教育課程", default_order: :desc)
      %th= sort_link(@search, :species, "種族", default_order: :desc)
      %th= sort_link(@search, :sexuality, "性別", default_order: :desc)
      %th= sort_link(@search, :age, "外見年齢", default_order: :desc)
      %th.sep{colspan: 2} 結果リンク
  %tbody
    - @profiles.each do |profile|
      %tr
        %td= profile.result_no
        %td
          - pc_name_text(profile.p_no, profile.pc_name)
        %td= profile.title
        %td= profile.nickname
        %td= subject_text(profile)
        %td= profile.course.name
        %td= profile.species
        %td= profile.sexuality
        %td= profile.age
        %td.sep= character_link(profile.p_no)
        %td= character_old_link(@latest_result, profile.p_no, profile.result_no, profile.generate_no)
- p_no_concat_button
= paginate(@profiles)
