%h1= site_title
%p
  このサイトでは『
  %a{:href => "http://www.sssloxia.jp/index.html", :target => "_blank"} Secret Sphere
  』を解析して得られる情報を扱っています。
%br
%p= top_text(@latest_result, @latest_generate, @uploaded_result)

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 個人データ
          %ul
            %li= link_to "プロフィール一覧", profiles_path
            %li= link_to "ステータス一覧", statuses_path
            %li= link_to "装備一覧", equips_path
            %li= link_to "所持アイテム一覧", items_path
      .col-md-6
        %ul
          %li 行動データ
      .col-md-6
        %ul
          %li グラフデータ
          %ul
            %li= link_to "学科・教育課程グラフ", profile_graphs_path
            %li= link_to "装備グラフ", equip_graphs_path

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 2021/12/-
      %ul
        %li
          = link_to "所持アイテム一覧", items_path
          を公開
      %li 2021/12/19
      %ul
        %li
          = link_to "ステータス一覧", statuses_path
          に学科での絞り込み検索を追加
      %li 2021/12/6
      %ul
        %li サイト公開
