%h1= site_title
%p
  このサイトでは『
  %a{:href => "http://www.sssloxia.jp/index.html", :target => "_blank"} Secret Sphere
  』を解析して得られる情報を扱っています。
%br
%p= top_text(@latest_result, @latest_generate, @uploaded_result)

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 個人データ
          %ul
            %li= link_to "プロフィール一覧", profiles_path
            %li= link_to "ステータス一覧", statuses_path
            %li= link_to "装備一覧", equips_path
            %li= link_to "所持アイテム一覧", items_path
            %li= link_to "習得スペル一覧", spells_path
            %br
            %li= link_to "パーティ情報一覧", party_infos_path
      .col-md-6
        %ul
          %li 行動データ
          %ul
            %li= link_to "能力調律一覧", tuning_abilities_path
            %li= link_to "伝授スペルランキング", teach_spells_path + "?q[s]=num+desc"
      .col-md-6
        %ul
          %li 戦闘データ
          %ul
            %li= link_to "次回予告一覧", next_battle_infos_path
            %li= link_to "対抗発動スレッド一覧", spell_threads_path
            %ul
              %li= link_to "ディープスレッドランキング", spell_threads_path + "?q[s]=depth+desc&depth_form=5~"
              %li= link_to "ロングスレッドランキング", spell_threads_path + "?q[s]=length+desc&length_form=5~"
      .col-md-6
        %ul
          %li グラフデータ
          %ul
            %li= link_to "学科・教育課程グラフ", graphs_profiles_path
            %li= link_to "装備グラフ", graphs_equips_path
      .col-md-6
        %ul
          %li 基本データ
          %ul
            %li= link_to "スペルリスト", spell_data_path
            %li= link_to "陳腐化一覧", obsolescences_path

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 2022/4/1
      %ul
        %li
          = link_to "対抗発動スレッド一覧", spell_threads_path
          に派生元スペルの表示・検索を追加。初期状態では派生元スペルで表示するように
      %li 2022/3/31
      %ul
        %li
          = link_to "次回予告一覧", next_battle_infos_path
          を公開
      %li 2022/3/29
      %ul
        %li
          戦闘結果ファイルの取得方法を修正し、取得漏れがあった戦闘、及びおしおき戦闘のデータを追加
        %li
          = link_to "対抗発動スレッド一覧", spell_threads_path
          から深さ2以上を指定していた初期条件を削除
        %li
          モバイルデバイスで画面上部のメニューを開く三本線のボタンが機能していなかったのを修正
      %li 2022/3/23
      %ul
        %li
          = link_to "パーティ情報一覧", party_infos_path
          に風紀戦闘の種別（※不良、●風紀、▲抗戦）を追加（対人戦のみ）
        %li
          = link_to "対抗発動スレッド一覧", spell_threads_path
          にNPC名での検索を追加
      %li 2022/3/20
      %ul
        %li
          = link_to "対抗発動スレッド一覧", spell_threads_path
          において、3/10以降絵文字を表示する代償に発動TGが表示されなくなっていた不具合を修正
      %li 2022/3/10
      %ul
        %li
          = link_to "伝授スペルランキング", teach_spells_path + "?q[s]=num+desc"
          を公開
        %li
          = link_to "習得スペル一覧", spells_path
          のスペル説明文の表示を調整
          %ul
            %li 検索……調律後のスペル説明文から検索
            %li 「スペル説明を表示する」状態で検索したときに一覧に表示される説明……調律後のスペル説明文
            %li 元スペル・派生元スペルのホバー・タップで表示される説明……調律前のスペル説明文
        %li
          絵文字が正しく表示・検索できなかった不具合を修正
      %li 2022/3/4
      %ul
        %li
          = link_to "対抗発動スレッド一覧", spell_threads_path
          、
          = link_to "ディープスレッドランキング", spell_threads_path + "?q[s]=depth+desc"
          、
          = link_to "ロングスレッドランキング", spell_threads_path + "?q[s]=length+desc"
          を公開
      %li 2022/3/3
      %ul
        %li
          = link_to "パーティ情報一覧", party_infos_path
          を公開
        %li
          = link_to "習得スペル一覧", spells_path
          の過去データに、そのデータの次の更新回へのリンクを追加
      %li 2022/3/1
      %ul
        %li
          = link_to "習得スペル一覧", spells_path
          、
          = link_to "スペルリスト", spell_data_path
          に派生元スペルの情報と検索フォームを追加
      %li 2022/2/10
      %ul
        %li
          = link_to "能力調律一覧", tuning_abilities_path
          を公開
        %li
          = link_to "習得スペル一覧", spells_path
          に学科での絞り込み検索を追加
      %li 2022/2/7
      %ul
        %li
          検索にヒットしたPNoを再利用するためにOR条件文字列で取得するボタンを各ページに追加
      %li 2022/1/31
      %ul
        %li
          = link_to "陳腐化一覧", obsolescences_path
          を公開
        %li
          = link_to "習得スペル一覧", spells_path
          に属性と陳腐化の情報を追加
      %li 2022/1/7
      %li 2022/1/12
      %ul
        %li
          = link_to "習得スペル一覧", spells_path
          にスペル名・TG名をマウスホバーもしくはスマートフォンなどでタップしたときにスペル情報を表示する機能を追加
      %li 2022/1/7
      %ul
        %li
          = link_to "スペルリスト", spell_data_path
          を公開
      %li 2021/12/28
      %ul
        %li
          = link_to "所持アイテム一覧", items_path
          、
          = link_to "習得スペル一覧", spells_path
          を公開
      %li 2021/12/19
      %ul
        %li
          = link_to "ステータス一覧", statuses_path
          に学科での絞り込み検索を追加
      %li 2021/12/6
      %ul
        %li サイト公開
