- @page_title = "チューンジェム一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: 5}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "TG名", params_name: "name_form", placeholder: "TuneGem")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "消費SP", params_name: "sp_form", placeholder: "TuneGemSP")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "種類", params_name: "分類_id_form",
                    checkboxes: [{label: "属性変化",   params_name: "type_element_change",    class_name: "after_space"},
                                 {label: "射程変化",   params_name: "type_range_change",      class_name: "after_space"},
                                 {label: "攻撃変化",   params_name: "type_attack_change",     class_name: "after_space mobile_br"},
                                 {label: "タイミング", params_name: "type_timing_change",     class_name: "after_space"},
                                 {label: "異常付与",   params_name: "type_abnormal_addition", class_name: "after_space"},
                                 {label: "能力変化",   params_name: "type_ability_change"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "Text", params_name: "text_form", placeholder: "TuneGemText")
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: 3}
          - search_submit_button


= paginate(@tune_gem_data)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :tg_id, "Tg", default_order: :desc)
      %th= sort_link(@search, :name, "TG名", default_order: :desc)
      %th= sort_link(@search, :sp, "消費SP", default_order: :desc)
      %th= sort_link(@search, :type_id, "種類", default_order: :desc)
      %th= sort_link(@search, :text, "説明", default_order: :desc)
  %tbody
    - @tune_gem_data.each do |tune_gem_datum|
      %tr
        %td= tune_gem_datum.tg_id
        %td= tune_gem_datum.name
        %td= tune_gem_datum.sp
        %td= tune_gem_datum.type.name if tune_gem_datum.type
        %td= tune_gem_datum.text
= paginate(@tune_gem_data)
