- @page_title = "習得スペル一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: 5}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "PNo", params_name: "p_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "元スペル名", params_name: "spell_form", placeholder: "Spell", colspan: 3)
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "属性", params_name: "element_id_form", colspan: 3,
                    checkboxes: [{label: "無", params_name: "element_none",  class_name: "after_space", br: true},
                                 {label: "火", params_name: "element_fire",  class_name: "after_space"},
                                 {label: "水", params_name: "element_water", class_name: "after_space"},
                                 {label: "風", params_name: "element_air",   class_name: "after_space mobile_br"},
                                 {label: "地", params_name: "element_earth", class_name: "after_space"},
                                 {label: "光", params_name: "element_light", class_name: "after_space"},
                                 {label: "闇", params_name: "element_dark"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "消費SP", params_name: "sp_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "威力", params_name: "power_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "命中", params_name: "hit_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "射程", params_name: "range_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "タイミング", params_name: "timing_id_form", colspan: 3,
                    checkboxes: [{label: "アクティブ", params_name: "timing_active", class_name: "after_space"},
                                 {label: "カウンター", params_name: "timing_counter"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "陳腐化", params_name: "obsolescence_form", colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "TG一覧", params_name: "gems_form", placeholder: "TuneGem", colspan: 3)

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_spell_text",
                    label: {open: "スペル説明を表示する", close: "スペル説明を表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "スペル説明", params_name: "spell_text_form", placeholder: "SpellText", colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "分類", params_name: "class_id_form", colspan: 3,
                    checkboxes: [{label: "近接",     params_name: "class_approach",     class_name: "after_space"},
                                 {label: "射撃",     params_name: "class_gunshot",      class_name: "after_space"},
                                 {label: "防御補助", params_name: "class_defense",  class_name: "after_space mobile_br"},
                                 {label: "回復",     params_name: "class_heal",         class_name: "after_space"},
                                 {label: "異常",     params_name: "class_abnormal",     class_name: "after_space"},
                                 {label: "召喚",     params_name: "class_summon",       class_name: "after_space"},
                                 {label: "合成",     params_name: "class_synthesis"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_spell_name",
                    label: {open: "改名後スペル名を表示する", close: "改名後スペル名を表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "改名スペル名", params_name: "name_form", colspan: 3)

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_profile",
                    label: {open: "学科で絞り込む", close: "学科で絞り込みを隠す"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "学科", params_name: "subject_id_form", colspan: 3,
                    checkboxes: [{label: "魔術科", params_name: "subject_magic", class_name: "after_space"},
                                 {label: "武術科", params_name: "subject_martial"}])

    - #==========================================================================================================================
    %tbody
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: 3}
          - search_submit_button


= paginate(@spells)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,"更新回", default_order: :desc)
      %th= sort_link(@search, :p_no,"キャラクター(PNo)", default_order: :desc)
      %th.sep.sep_r= sort_link(@search, :s_no, "No.", default_order: :desc)
      - if @form_params["show_spell_name"] == "1"
        %th= sort_link(@search, :name, "改名スペル名", default_order: :desc)
      %th= sort_link(@search, :spell_id, "元スペル名", default_order: :desc)
      %th.sep= sort_link(@search, :element_id, "属性", default_order: :desc)
      %th= sort_link(@search, :sp, "消費", default_order: :desc)
      %th= sort_link(@search, :power, "威力", default_order: :desc)
      %th= sort_link(@search, :hit, "命中", default_order: :desc)
      %th= sort_link(@search, :range, "射程", default_order: :desc)
      %th= sort_link(@search, :timing_id, "タイミング", default_order: :desc)
      %th= sort_link(@search, :obsolescence, "陳腐化", default_order: :desc)
      %th.sep{colspan: 2} 結果リンク
  %tbody
    - @spells.each do |spell|
      %tr
        %td{rowspan: 3}= spell.result_no
        %td{rowspan: 3}= pc_name_text(spell.p_no, spell.pc_name)
        %td.sep.sep_r{rowspan: 3}= spell.s_no
        - if @form_params["show_spell_name"] == "1"
          %td= spell.name
        %td
          - if spell.spell
            - if @form_params["show_spell_text"] == "1"
              = spell.spell.name
            - else
              - spell_text(spell.spell.name, @spell_data)
        %td.sep= spell.element.name if spell.element
        %td= spell.sp
        %td= spell.power
        %td= range_text(spell.hit)
        %td= range_text(spell.range)
        %td= spell.timing.name if spell.timing
        %td
          = spell.obsolescence
          = "%"
        %td.sep{rowspan: 3}= character_link(spell.p_no)
        %td{rowspan: 3}= character_old_link(@latest_result, spell.p_no, spell.result_no, spell.generate_no)
      %tr
        - if @form_params["show_spell_text"] == "1"
          %td{colspan: 5}= spell.spell.text if spell.spell
          %td= spell.spell.class_data.name if spell.spell.class_data
      %tr
        - if spell.gems != "" then
          %td.TG{colspan: 6}= gems_text(spell.gems, @tg_data)
- p_no_concat_button
= paginate(@spells)
