!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title= page_title
    %meta{name: "viewport", content:"width=device-width, initial-scale=1"}
    %meta{http: {equiv: "X-UA-Compatible"}, content: "IE=edge"}
    = csrf_meta_tags
    = csp_meta_tag

    = favicon_link_tag('favicon.ico')
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"

  %body
    %nav.navbar.navbar-expand-md.fixed-top.navbar-dark.bg-light.navbar-custom.p-0
      .container
        = link_to site_title, root_path, :class => "navbar-brand"
        %button.navbar-toggler{type: "button", data: {bs: {toggle: "collapse", target: "#navbarNavDropdown"}}, area: {controls: "navbarNavDropdown", expanded: "false", label: "Toggle navigation"}}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNavDropdown
          %ul.navbar-nav
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {toggle: "dropdown"}}, :href => "#", role: "button", area: {expanded: "false"}}
                個人
                %span.caret
              .dropdown-menu
                = link_to "プロフィール一覧", profiles_path, class: "dropdown-item"
                = link_to "ステータス一覧", statuses_path, class: "dropdown-item"
                = link_to "装備一覧", equips_path, class: "dropdown-item"
                = link_to "所持アイテム一覧", items_path, class: "dropdown-item"
                = link_to "習得スペル一覧", spells_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "パーティ情報一覧", party_infos_path, class: "dropdown-item"
                = link_to "ランク情報一覧", ranks_path + "?q[s]=rp+desc", class: "dropdown-item"
                = link_to "風紀委員一覧", pk_pkks_path, class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {toggle: "dropdown"}}, :href => "#", role: "button", area: {expanded: "false"}}
                行動
                %span.caret
              .dropdown-menu
                = link_to "能力調律一覧", tuning_abilities_path, class: "dropdown-item"
                = link_to "伝授スペルランキング", teach_spells_path + "?q[s]=num+desc", class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {toggle: "dropdown"}}, :href => "#", role: "button", area: {expanded: "false"}}
                戦闘
                %span.caret
              .dropdown-menu
                = link_to "次回予告一覧", next_battle_infos_path, class: "dropdown-item"
                = link_to "戦闘結果一覧", battle_results_path, class: "dropdown-item"
                = link_to "レイド報酬一覧", raid_rewards_path, class: "dropdown-item"
                = link_to "対抗発動スレッド一覧", spell_threads_path, class: "dropdown-item"
                = link_to ">　ディープスレッドランキング", spell_threads_path + "?q[s]=depth+desc&depth_form=5~", class: "dropdown-item"
                = link_to ">　ロングスレッドランキング", spell_threads_path + "?q[s]=length+desc&length_form=5~", class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {toggle: "dropdown"}}, :href => "#", role: "button", area: {expanded: "false"}}
                グラフ
                %span.caret
              .dropdown-menu
                = link_to "学科・教育課程グラフ", graphs_profiles_path, class: "dropdown-item"
                = link_to "装備グラフ", graphs_equips_path, class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {toggle: "dropdown"}}, :href => "#", role: "button", area: {expanded: "false"}}
                基本
                %span.caret
              .dropdown-menu
                = link_to "スペルリスト", spell_data_path, class: "dropdown-item"
                = link_to "陳腐化一覧", obsolescences_path, class: "dropdown-item"

    .container
      .row
        .col-md-12
          - uploading_alert(@latest_result, @uploaded_result)
          = yield

      %footer
        %p
          Twitter：#{link_to "@data_teiki", "http://twitter.com/data_teiki"}
          %br
          制作：#{link_to "@white_mns", "http://twitter.com/white_mns"}
          %br
          = link_to "プライバシーポリシー", privacy_path
          %br
          %br
          ソースコード [#{link_to "解析部分", "https://github.com/white-mns/hmtm_parse"}] [#{link_to "表示部分", "https://github.com/white-mns/hmtm_rails"}]
          %br
          = link_to "その他ゲームのデータ小屋", "https://data.teiki.org/"
      = render "layouts/analytics"
